name: build
on: [push, pull_request]

jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js Environment
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile

      - name: Build Check
        run: pnpm build
