name: format
on: [push, pull_request]

jobs:
  format:
    name: format
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js Environment
        uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc

      - name: Install Dependencies
        run: pnpm install --frozen-lockfile

      - name: Format Check
        run: pnpm fmt:check
